{% extends 'base/base.html' %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="p-5">
                        {% if validlink %}
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Set New Password</h1>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                {% if form.errors %}
                                <div class="alert alert-danger">
                                    Please correct the errors below.
                                </div>
                                {% endif %}
                                <div class="form-group mb-3">
                                    {{ form.new_password1.errors }}
                                    <input type="password" name="new_password1" class="form-control form-control-user" 
                                        placeholder="New Password" required>
                                </div>
                                <div class="form-group mb-3">
                                    {{ form.new_password2.errors }}
                                    <input type="password" name="new_password2" class="form-control form-control-user" 
                                        placeholder="Confirm New Password" required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">Change Password</button>
                            </form>
                        {% else %}
                            <div class="alert alert-danger">
                                The password reset link was invalid, possibly because it has already been used. 
                                Please request a new password reset.
                            </div>
                            <div class="text-center mt-3">
                                <a href="{% url 'password_reset' %}" class="btn btn-primary">Request New Reset Link</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}